.banner {
    margin-bottom: 100px;
}


.main_tab {
    .movies_btn {
        button {
            transition: .5s;
            border-radius: 0;
        }
    }
}


/** Best Series Start**/
.best_series {
    background-image: url('../img/best-series.jpg');

    .best_series_shadow {
        background-color: rgba($color: #0d0d0d, $alpha: .9);

    }
}

/** Best Series End**/


/*  SUGGESTED FOR YOU Start*/
.suggested {
    padding: 100px 0 100px 0;
}

.section_title {
    position: relative;
    font-size: 28px;
    margin-left: 13px;

    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        top: 50px;
        left: 0px;
        background-color: #ff0000;
    }
}







@media screen and (max-width:600px) {

    .section_title {
        position: relative;
        font-size: 24px;

        &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 4px;
            top: 40px;
            left: 0;
            background-color: #ff0000;
        }
    }
}