nav {
    background-color: #272829 !important;

    #toggler_btn {
        background-color: #fb2525;
        color: #ffffff;
    }

    ul {
        li {
            .page_title {
                color: #ffffff;
                font-weight: 700;
                border-left: 1px solid #ffffff33;
                padding-top: 0 !important;
                padding-bottom: 0 !important;

                &:hover {
                    color: #fb2525 !important;
                }


            }
        }
    }






}

.submenu {
    ul {
        width: 230px;
        background-color: #f4f4f4;
        border-radius: 0;

        li {
            width: 100%;
            border-bottom: 1px solid #e5e5e5;

            .sub_page_title {
                padding: 15px 25px 15px 25px;
                color: #333333;
                font-size: 12px;
                font-weight: 700;

                &:hover {
                    color: #ffffff;
                    background-color: #fb2525;
                }
            }
        }
    }
}

#nav_icons {
    position: absolute;
    top: 17px;
    right: 0px;

    ul {
        li {

            .nav_icon {
                color: #e5e5e5;

                &:hover {
                    color: #fb2525;
                }
            }
        }

        #user {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fb2525;
            color: #e5e5e5;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav_icon {
                color: #e5e5e5;
            }
        }
    }
}

#gear {
    position: relative;
    animation: gear 2s infinite linear;
}

@keyframes gear {
    0% {
        transform: rotate(-0deg);
    }

    50% {
        transform: rotate(-90deg);
        transition-delay: 2s;
    }

    100% {
        transform: rotate(-360deg);

    }
}


/**Search Bar Start */
#offcanvasBottom {
    border: 0 !important;
    width: 100%;
    height: 100% !important;
    background-color: rgba($color: #000000, $alpha: .4);

    #search_offcanvas_body {
        display: flex;
        justify-content: center;
        align-items: center;
        #search_body_input {
            border: 2px solid #fff;
            width: 50%;
            height: 70px;
            padding: 0 30px;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }

}

/**Search Bar End */



/**OfFCanvas Start*/
#offcanvasRight {
    background-color: #111 !important;

    #close_btn {
        color: red !important;
        background-color: #e5e5e5 !important;
    }

    .canvas_dropdown {
        padding-bottom: 20px;

        button {
            width: 100% !important;
            background-color: #ff0000;
            padding: 10px 30px;
            color: #fff;

            &:hover {
                background-color: #111 !important;
            }
        }

        .dropdown_body {
            border-radius: 0 !important;
            background-color: #111;
            width: 100%;

            .movie_type {
                a {
                    background-color: #ff0000;
                    color: #fff !important;
                    font-size: 13px;
                    padding: 10px;
                    margin-top: 5px;

                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
        }

    }
}

/**OfFCanvas End*/




/*============MEDIA QUERIES (SMALL AND MEDIUM DEVICES)===================*/

@media screen and (max-width:600px) {
    #search_body_input {
        border: 2px solid #fff;
        width: 80% !important;
        height: 70px;
    
    }
}

@media screen and (max-width:1023px) {
    #logo_mobile {
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #272829 !important;
    }

    nav {
        margin: 0 auto;


        #logo {
            display: none;
        }

        ul {

            li {
                // margin-left: 10px;

                .page_title {
                    padding-top: 8px !important;
                    padding-bottom: 8px !important;
                    border: 0;
                }
            }
        }

        .submenu {
            ul {
                border: 0 !important;
                width: 90%;
                margin-left: 15px;

            }
        }



        #nav_icons {
            position: absolute;
            top: 16px;
            right: 0;
            z-index: 90;



        }
    }



}